$colors-blue-400: #00a5f0;
$colors-blue-500: #0073ce;

$colors-green-400: #00d7d7;

$colors-brown-500: #855b35;

$colors-yellow-400: #ffdc6c;
$colors-yellow-500: #ffc800;

$colors-pure-white: #ffffff;
$colors-pure-black: #000000;

$colors-gray-600: #33303e;
$colors-gray-500: #4e4b59;
$colors-gray-400: #5f5c6b;
$colors-gray-300: #7a7786;
$colors-gray-200: #c6c5ce;
$colors-gray-100: #f1f0f5;
