$font-sizes-xxs: 0.625rem; // 10
$font-sizes-xs: 0.75rem; // 12
$font-sizes-sm: 0.875rem; // 14
$font-sizes-md: 1rem; // 16
$font-sizes-lg: 1.125rem; // 18
$font-sizes-xl: 1.25rem; // 20

$font-sizes-64: 4rem;
$font-sizes-56: 3.5rem;
$font-sizes-48: 3rem;
$font-sizes-40: 2.5rem;
$font-sizes-32: 2rem;
$font-sizes-28: 1.75rem;
$font-sizes-24: 1.5rem;
$font-sizes-20: 1.25rem;
